body{
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#caja{
    display:flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
}
#taulell{
    margin-top: 40px;
}